

/* font-family: 'Inter', sans-serif;
font-family: 'Lobster Two', cursive;
font-family: 'Roboto', sans-serif; */

*{
    box-sizing: border-box;
}

body{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    min-height: 100vh;
    margin: 0;
    font-family: 'Lobster Two', cursive;
    text-transform: capitalize;
    background-color: #faf2e4;
    margin-top: 2rem;

}

/* image{
    width: 100%;
    height: 100%;
} */

header h1{
    font-size: 4rem;
}


.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.row{
    display: flex;
    
    /* border: 2px solid red; */
}

.column{
    display: flex;
    flex-direction: column;

    background-color: border 2px solid cadetblue;

}

nav{
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    
    background-color: orange;


}

nav a{
    text-decoration: none;
    color: black;
}

nav a:hover{
    color: #007664;
    
}

img{
    margin-top: 2rem;
}

.ig{
    margin-bottom: .2rem;

}













.sample-cut{
    height: 500px;
    width: 80%;
}

.sample-cut img{
    width: 100%;
    height: 600px;
    

}

.availability{
    width: 30%;
    text-align: center;
    margin-bottom: 5rem;
    margin-top: 13rem;


    /* border: 2px solid green; */

}

.availability p {
    font-family: 'Inter', sans-serif; 

}

.availability h2{
    text-align: center;
}

.services-container{
    width: 30%;
    font-family: 'Inter', sans-serif; 

}
.services{
    justify-content: space-between;
    align-items: center;


}

.testimonials{
    text-align: center;
    width: 30%;

    border: 2px solid green;
}
.contact-container{
    width: 35%;
    justify-content: space-around;
    margin-top: 2rem;

    /* border: 2px solid purple; */
}
.contact-container h2{
    text-align: center;
}

.contact-container p{
    font-family: 'Inter', sans-serif;
}



.about-container{
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    width: 30%;

    /* border: 2px solid orange; */

}

.about-container p{
    width: 40%;
    text-align: center;
    width: 30%;
    
}

.about-container img{
    height: 302px;
    width: 403;
    border-radius: 100px;

}

footer h2{
    text-align: center;

}