

/* font-family: 'Inter', sans-serif;
font-family: 'Lobster Two', cursive;
font-family: 'Roboto', sans-serif; */


/* test fonts  */
/* 
font-family: 'Aboreto', cursive;
font-family: 'Ewert', cursive;
font-family: 'Inter', sans-serif;
font-family: 'Lobster Two', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Tapestry', cursive;
font-family: 'UnifrakturCook', cursive;
font-family: 'UnifrakturMaguntia', cursive;
 */

*{
    box-sizing: border-box;
    font-size: 20px;
}

body{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    min-height: 100vh;
    margin: 0;
    /* font-family: 'Lobster Two', cursive; */
    font-family: 'UnifrakturMaguntia', cursive;






    text-transform: capitalize;
    background-color: #faf2e4;
    margin-top: 2rem;
    letter-spacing: .1rem; 

}

h2{
    font-size: 50px;


    font-family: 'Aboreto', cursive;





   

}

p{

    font-family: 'Inter', sans-serif;
    line-height: 1.5rem;

}

/* image{
    width: 100%;
    height: 100%;
} */

header h1{
    font-size: 4rem;
}


.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* border: 2px solid cornflowerblue; */
    
}

.row{
    display: flex;
    
    /* border: 2px solid red; */
}

.column{
    display: flex;
    flex-direction: column;

    background-color: border 2px solid cadetblue;

}

nav{
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    color: black;
    transition-duration: .6s;

    
    
    /* border: 2px solid blue; */

}

nav h2{
    font-size: 30px;
}

nav a{
    text-decoration: none;
    color: inherit;
}

nav a:hover{
    color: #007664;
    scale: 1.2;
    
}

.nav-active{
    width: 10rem;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    /* width: 8rem; */
    display: flex;
    flex-direction: column;
    background-color: #BB6946;
    color: white;
    z-index: 100;


}








img{
    margin-top: 2rem;


}

.ig{
    margin-bottom: .2rem;
    border: 2px solid inherit;
    border-radius: 100px;
    padding: .3rem;

}

.ig:hover{
    border-color: #007664 ;
}













.sample-cut{
    height: 500px;
    width: 80%;
    display: inline-block;
}

.sample-cut img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    

}

.availability{
    width: 30%;
    text-align: center;
    margin-bottom: 5rem;
    margin-top: 10rem;


    /* border: 2px solid green; */

}

.availability p {
    font-family: 'Inter', sans-serif; 

}

.availability h2{
    text-align: center;
}

.services-container{
    width: 40rem;

    max-width: 50%;
    font-family: 'Inter', sans-serif; 

}
.services{
    justify-content: space-between;
    align-items: center;

    /* border: 2px solid red; */


}

.testimonials{
    text-align: center;
    max-width: 25rem;
    min-width: 15rem;
    margin-top: 2rem;

    /* border: 2px solid green; */
}
.contact-container{
    width: 40rem;
    max-width: 50%;
    justify-content: space-around;
    margin-top: 2rem;

    /* border: 2px solid purple; */
}
.contact-container h2{
    text-align: center;
}

.contact-container p{
    font-family: 'Inter', sans-serif;
}



.about-container{
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    width: 40%;

    /* border: 2px solid orange; */

}

.about-container p{
    text-align: center;
    width: 15rem;
    
}

.about-container img{
    height: 302px;
    width: 403;
    border-radius: 100px;

}

footer{
    text-align: center;
    width: 100%;
    
    /* border: 2px solid green; */

}

.footer-img{
    background-image: url('images/chair.jpg');
    width: 100%;
    height: 30rem ;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 1rem auto;
}

footer h2{
    text-align: center;

}




/* swiper */

.carousel{
    height: 500px;
    width: 80%;
}

.swiper {
    width: 100%;
    height: 100%;
    margin-top: 2rem;
  }

 
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

